<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/amey/IdeaProjects/APIAutomationATB9x/src/test/java/com/thetestingacademy/ex004_TestNG_Examples/APITesting016_TestNG_Groups.java"><classes><class name="com.thetestingacademy.ex003_TestNG_Examples.APITesting016_TestNG_Groups"><methods><include name="RegressionRun"/><include name="SanityRun2"/></methods></class></classes></test></suite>